.btn-wrapper {
    margin-top: 3rem;
    text-align: center;
    display: flex;
    justify-content: end;

    & button {
        appearance: none;
        border: none;
        border-radius: 0.5rem;
        padding: 0.813rem 1.5rem;
        background-color: var(--brand-dark);
        font: var(--text-body-md);
        font-weight: 600;
        color: var(--text-heading);
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        transition: background-color 0.2s;

        &:hover {
            background-color: var(--brand-mid);
        }

        & img {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}