.terms-wrapper {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
}

.checkbox-wrapper {
    display: flex;
    gap: 0.75rem;
    align-items: flex-start;
}

.checkbox-wrapper label strong {
    color: var(--brand-light);
}

.checkbox-wrapper input {
    position: relative;
    cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
}

.checkbox-wrapper .checkbox-image {
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background-image: url(../../assets/icons/checkbox-default.svg);
}

.checkbox-wrapper:has(input[type="checkbox"]:checked) .checkbox-image {
    background-image: url(../../assets/icons/checkbox-checked.svg);
}
