.terms-wrapper {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.checkbox-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    
    position: relative; 
    
    cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
    z-index: 2;
    cursor: pointer;
}

.checkbox-wrapper .checkbox-image {
    flex-shrink: 0; 
    
    width: 1.5rem;
    height: 1.5rem;
    
    background-image: url(../../assets/icons/checkbox-default.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
    transition: background-image 0.2s;
}

.checkbox-wrapper:has(input:checked) .checkbox-image {
    background-image: url(../../assets/icons/checkbox-checked.svg);
}

.checkbox-wrapper label {
    font: var(--text-body-sm);
    color: var(--text-body);
    line-height: 1.5rem;
    cursor: pointer;
}

.checkbox-wrapper label strong {
    color: var(--brand-light);
}