.file-input {
    width: 100%;
}

.file-input input[type="file"] {
    appearance: none;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    

    font-family: var(--font-family-open-sans);
    font-size: 0.875rem;
    color: var(--input-placeholder);
}

.file-input input[type="file"]::file-selector-button {

    background-color: var(--shape-button);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    

    height: 3rem;
    margin-right: 1rem;
    

    padding: 0 1rem 0 3rem; 


    font-family: var(--font-family-baloo-2);
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-heading);


    background-image: url('../../assets/icons/upload-blue.svg');
    background-repeat: no-repeat;
    background-position: 1rem center;
    background-size: 1.25rem;
    
    transition: background-color 0.2s;
}

.file-input input[type="file"]::file-selector-button:hover {
    background-color: var(--shape-hover);
}