.file-input {
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.813rem 1rem;
    background-color: var(--input-base);
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    font: var(--text-body-md);
    color: var(--input-placeholder);
    width: 7.438rem;
    height: 2.5rem;
    display: flex;
}

.file-wrapper {
    display: grid;
}

.file-img {
    width: 1rem;
    height: 1rem;
}