input, textarea {
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.813rem 1rem;
    background-color: var(--input-base);
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    font: var(--text-body-md);
    color: var(--input-placeholder);
}

input[type="datetime-local"] {
    position: relative;
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

textarea {
    resize: none;
}