.radio-group {
    display: flex;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    padding: 0.25rem;
    gap: 0.5rem;
}

.radio-item {
    flex: 1;
    position: relative;
}

.radio-item input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-item label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-bottom: 0;

    font-family: var(--font-family-baloo-2);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-body);

    background-color: transparent;
    transition: all 0.2s ease-in-out;
    height: 100%;
}

.radio-item label img {
    width: 1.25rem;
    height: 1.25rem;
}

.radio-item:hover label {
    background-color: var(--shape-hover);
}

.radio-item input[type="radio"]:checked + label {
    background-color: var(--shape-button);
    color: var(--text-heading);
    font-weight: 700;
}

.radio-wrapper {
    margin-bottom: 1.75rem;
}

.radio-colors {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.radio-colors input[type="radio"] {
    transition: all 0.2s;
}

.radio-colors input[type="radio"]:checked {
    box-shadow: 0 0 0 7px var(--brand-light);
}

#brand-light {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--brand-light);
    border: 6px solid transparent;
    outline: 5px solid var(--shape-button);
    cursor: pointer;

    &:hover {
        outline: 5px solid var(--shape-hover);
    }
}

#navy {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--navy);
    border: 6px solid transparent;
    outline: 5px solid var(--shape-button);
    cursor: pointer;

    &:hover {
        outline: 5px solid var(--shape-hover);
    }
}

#purple {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--purple);
    border: 6px solid transparent;
    outline: 5px solid var(--shape-button);
    cursor: pointer;

    &:hover {
        outline: 5px solid var(--shape-hover);
    }
}

#fuschia {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--fuschia);
    border: 6px solid transparent;
    outline: 5px solid var(--shape-button);
    cursor: pointer;

    &:hover {
        outline: 5px solid var(--shape-hover);
    }
}

#pink {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--pink);
    border: 6px solid transparent;
    outline: 5px solid var(--shape-button);
    cursor: pointer;

    &:hover {
        outline: 5px solid var(--shape-hover);
    }
}

#danger {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--danger);
    border: 6px solid transparent;
    outline: 5px solid var(--shape-button);
    cursor: pointer;

    &:hover {
        outline: 5px solid var(--shape-hover);
    }
}

#orange {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--orange);
    border: 6px solid transparent;
    outline: 5px solid var(--shape-button);
    cursor: pointer;

    &:hover {
        outline: 5px solid var(--shape-hover);
    }
}

#yellow {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--yellow);
    border: 6px solid transparent;
    outline: 5px solid var(--shape-button);
    cursor: pointer;

    &:hover {
        outline: 5px solid var(--shape-hover);
    }
}

#lime {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--lime);
    border: 6px solid transparent;
    outline: 5px solid var(--shape-button);
    cursor: pointer;

    &:hover {
        outline: 5px solid var(--shape-hover);
    }
}

#green {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--green);
    border: 6px solid transparent;
    outline: 5px solid var(--shape-button);
    cursor: pointer;

    &:hover {
        outline: 5px solid var(--shape-hover);
    }
}

#cyan {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--cyan);
    border: 6px solid transparent;
    outline: 5px solid var(--shape-button);
    cursor: pointer;

    &:hover {
        outline: 5px solid var(--shape-hover);
    }
}

.event-theme {
    margin-bottom: 1.75rem;
}

.radio-images {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(8.375rem, 1fr));
}

.radio-img-wrapper input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-img {
    background-color: var(--shape-button);
    width: 100%;
    height: 6.438rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0.25rem;
    gap: 0.5rem;

    margin-bottom: 0;

    border-radius: 0.5rem;
    border: 1px solid var(--input-stroke);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    overflow: hidden;
}

.radio-img img {
    width: 100%;
    flex: 1;
    min-height: 0;
    object-fit: cover;
    border-radius: 0.25rem;
}

.radio-img span {
    font-family: var(--font-family-open-sans);
    font-size: 0.875rem;
    color: var(--text-heading);
    line-height: 1.2;
    text-align: center;
    padding-bottom: 0.25rem;
}

.radio-img-wrapper input:hover + .radio-img {
    background-color: var(--shape-hover);
    border-color: var(--input-stroke);
}

.radio-img-wrapper input:checked + .radio-img {
    outline: 2px solid var(--brand-light);
    background-color: var(--shape-button);
}