.radio-group {
    display: flex;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    padding: 0.25rem;
    gap: 0.5rem;
}

.radio-item {
    flex: 1;
    position: relative;
}

.radio-item input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-item label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;

    margin-bottom: 0;
    
    font-family: var(--font-family-baloo-2);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-body);
    
    background-color: transparent;
    transition: all 0.2s ease-in-out;

    height: 100%;
}

.radio-item label img {
    width: 1.25rem;
    height: 1.25rem;
}

.radio-item input[type="radio"]:checked + label {
    background-color: var(--shape-button);
    color: var(--text-heading);
    font-weight: 700;
}

.radio-colors {
    display: flex;
    gap: 1.5rem;
}

#brand-light {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--brand-light);
    border: 6px solid transparent;
    outline: 5px solid var(--shape-button);

}

#navy {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--navy);
    border: 2px solid transparent;
    outline: 6px solid var(--shape-button);
}

#purple {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--purple);
    border: 2px solid transparent;
    outline: 6px solid var(--shape-button);
}

#fuschia {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--fuschia);
    border: 2px solid transparent;
    outline: 6px solid var(--shape-button);
}

#pink {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--pink);
    border: 2px solid transparent;
    outline: 6px solid var(--shape-button);
}

#danger {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--danger);
    border: 2px solid transparent;
    outline: 6px solid var(--shape-button);
}

#orange {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--orange);
    border: 2px solid transparent;
    outline: 6px solid var(--shape-button);
}

#yellow {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--yellow);
    border: 2px solid transparent;
    outline: 6px solid var(--shape-button);
}

#lime {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--lime);
    border: 2px solid transparent;
    outline: 6px solid var(--shape-button);
}

#green {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--green);
    border: 2px solid transparent;
    outline: 6px solid var(--shape-button);
}

#cyan {
    appearance: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--cyan);
    border: 2px solid transparent;
    outline: 6px solid var(--shape-button);
}
