.style-button {
    display: flex;
    flex-direction: column; 
    gap: 0.75rem; 
}

.text-style-title {
    font: var(--text-body-sm);
    color: var(--text-body);
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem; 
}

.status-text {
    font: var(--text-body-md);
    color: var(--text-heading);
    min-width: 3.5rem; 
    
    line-height: 1; 
    margin-top: 0.125rem;
}

.status-text::after {
    content: "Escuro";
}

.toggle-wrapper:has(input:checked) .status-text::after {
    content: "Claro";
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
  flex-shrink: 0;
  
  margin-bottom: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.188rem;
  bottom: 0.188rem;
  background-color: var(--input-placeholder);
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--brand-light);
  border-color: var(--brand-light);
}

input:checked + .slider:before {
  transform: translateX(1.625rem);
  background-color: var(--text-heading);
}

.slider.round {
  border-radius: 2.125rem;
}

.slider.round:before {
  border-radius: 50%;
}