@import url(fields/index.css);

fieldset {
    border: none;

    & legend {
        font: var(--text-heading-sm);
        color: var(--text-heading);
    }
}

.header-info {
    display: flex;
    vertical-align: middle;
    gap: 0.75rem;
    margin-bottom: 1.5rem;

    & img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

label {
    font: var(--text-body-sm);
    color: var(--text-body);

    display: block;
    margin-bottom: 0.75rem;
}

.info-container {
    display: grid;
    gap: 1rem;
}

.selects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 1rem;
}

.header-customization {
    display: flex;
    vertical-align: middle;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;

    & img {
        width: 1.5rem;
        height: 1.5rem;
    }
}