* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    --danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    --font-family-leckerli-one: "Leckerli One", cursive;
    --font-family-baloo-2: "Baloo 2", sans-serif;
    --font-family-open-sans: "Open Sans", sans-serif;

    --text-logo: 400 2.5rem var(--font-family-leckerli-one);
    --text-heading-md: 700 1.75rem var(--font-family-baloo-2);
    --text-heading-sm: 700 1.125rem var(--font-family-baloo-2);
    --text-body-md: 400 1rem var(--font-family-open-sans);
    --text-body-sm: 400 0.875rem var(--font-family-open-sans);
    --text-body-xs: 400 0.75rem var(--font-family-open-sans);
}

body {
    overflow: hidden;
}

.bg-img {
    max-width: 400px;
    max-height: 728px;
}

.header-main {

    & h2 {
        font: var(--text-heading-md);
        color: var(--text-heading);
    }
}