#app {
    display: grid;
    grid-template-columns: max-content 1fr;
    
    gap: 1.25rem; 
    
    padding: 1.25rem; 

    height: 100vh;
    overflow: hidden;

    background-color: var(--shape-background);
}

main {
    overflow: auto;
    padding: 5rem 8.125rem;
    background-color: var(--shape-body);
    
    border-radius: 0.75rem;

    &.main-container {
        max-width: 35rem;
        margin-right: auto;
    }
}

aside {
    height: 100%; 

    & .aside-container {
        width: 25rem;
        height: 100%;
        position: relative;
        border-radius: 0.75rem;
        overflow: hidden;
    }

    & .bg-img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    & h1 {
        font: var(--text-logo);
        color: var(--pink);
        margin-bottom: 4px;
    }

    & .header-aside {
        position: absolute;
        z-index: 2;
        margin: 2rem;

        & img {
            width: 2.866rem;
            height: 3rem;
            margin-bottom: 1rem;
        }

        & p {
            font: var(--text-body-md);
            color: var(--text-heading);
            max-width: 15rem;
        }
    }
}